<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cbd.companyFront.dao.ICompanyDao">


    <select id="findAllContractDto" resultType="contractDto">
        select lesseeContractID as contactnoID, companyID, contractNumber as contactno,
         contractStartDate as contractStrat, contractEndDate as contractEnd,
         contractOfCopy as copyOfContract, dealPrice as price, contractStatus as contactnoStatus
          from t_lesseeContract2  limit #{param1},#{param2};
    </select>

    <select id="findLeaseCar" resultType="leaseCarDto">
        select c.carAddress as carPlace, c.carNumber as carNumber, l.contractNumber as Contactno,
         l.contractStartDate as contractStrat, l.contractEndDate as contractEnd from t_cbdCarLease2 z,
         t_cbdCar2 c,t_lesseeContract2 l where z.cbdCarID=c.cbdCarID and z.lesseeContractID=l.lesseeContractID
         and l.lesseeContractID=#{param1} limit #{param2},#{param3}
    </select>

    <select id="findCBDFreeCar" resultType="cBDFreeCar">
        select carAddress carPlace, carNumber from t_cbdCar2 where leaseStatus=#{param1} limit #{param2},#{param3}
    </select>

    <select id="findAllBill" resultType="billDto">
        select transactionTime as dealDate, expenditure as expend, income, remarks from t_bill
         <where>
             <if test="start!=null and start!=''">
                 and transactionTime >= #{start}
             </if>
             <if test="end!=null and end!=''">
                 <![CDATA[and transactionTime <= #{end}]]>
             </if>
         </where>
         limit #{currPage},#{numbers}
    </select>

    <select id="findBillAll" resultType="allBillDto">
        select count(*) as nums,sum(expenditure) as expendAll,sum(income) as incomeAll from t_bill
    </select>
    
    <select id="findCompanyByID" parameterType="int" resultType="companyInfoDto">
        select companyID, loginName as logName, loginPwd as logPass, companyName, floor as companyFloor, linkman  linkMan, linkPhone from t_company2 where companyID=#{id} ;
    </select>


    <update id="updateCompanyInfo">
        update t_company2 set loginName=#{param2},loginPwd=#{param3},linkman=#{param4},linkPhone=#{param5} where companyID=#{param1}
    </update>
  
</mapper>