<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../elementUI/elementUI.css"/>
    <title>查看车位</title>
</head>
<body>

<div id="jump" align="center">
<!--    跳转到查看预约车位页面 -->
    <el-button type="primary" @click="reservation" >查看预约车位</el-button>
    <!--    跳转到查看被预约车位页面 -->
    <el-button type="primary" @click="beReservation" >查看被预约车位</el-button>
</div>


<!-- 我的车位信息表-->
  <div id="findCarport" align="center">
      <template>
          <el-table
                  :data="tableData"
                  stripe
                  style="width: 100%">
              <el-table-column
                      prop="carInfo"
                      label="小区车位编号"
                      width="280">
              </el-table-column>
              <el-table-column
                      prop="address"
                      label="车位所在小区地址"
                      width="280">
              </el-table-column>
              <el-table-column
                      prop="titleNumber"
                      label="车位产权证编号"
                      width="280">
              </el-table-column>
              <el-table-column
                      prop="operation"
                      label="操作"
                      width="280">
                  　　　　<template slot-scope="scope">
                           <el-button type="primary" @click="letCarport = true">招租</el-button>　　　　　
                           <el-button type="primary" @click="sellCarport = true">出售</el-button>
                  　　　　</template>
              </el-table-column>
          </el-table>

      </template>
      <el-pagination
      background
      layout="prev, pager, next"
      :total="1000">
      </el-pagination>

<!--     招租-->
      <div>
          <el-dialog title="招租车位" :visible.sync="letCarport" >
              <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="小区地址" >
                      <el-input typ="text" v-model="form.address" readonly></el-input>
                  </el-form-item>

                  <el-form-item label="车位编号" >
                      <el-input typ="text" v-model="form.carInfo" readonly></el-input>
                  </el-form-item>

                  <el-form-item label="租凭开始时间" >
                      <el-col :span="11">
                          <el-date-picker type="date" placeholder="选择日期" v-model="form.startDate" style="width: 100%;"></el-date-picker>
                      </el-col>
                  </el-form-item>

                  <el-form-item label="租凭结束时间" >
                      <el-col :span="11">
                          <el-date-picker type="date" placeholder="选择日期" v-model="form.endDate" style="width: 100%;"></el-date-picker>
                      </el-col>
                  </el-form-item>

                  <el-form-item label="出租价钱" >
                      <el-input typ="text" placeholder="100元/单位"  v-model="form.rent" ></el-input>
                  </el-form-item>

                  <el-form-item>
                      <el-button type="primary" @click="release">发布</el-button>
                      <el-button type="primary" @click='closeDialog'>返回</el-button>
                  </el-form-item>
              </el-form>
          </el-dialog>
      </div>

<!--      出售-->
      <div>
          <el-dialog title="出售" :visible.sync="sellCarport" >
              <el-form ref="form" :model="form" label-width="120px">
                  <el-form-item label="小区地址" >
                      <el-input typ="text" v-model="form.address" readonly></el-input>
                  </el-form-item>

                  <el-form-item label="车位编号" >
                      <el-input typ="text" v-model="form.carInfo" readonly></el-input>
                  </el-form-item>


                  <el-form-item label="出售价钱" >
                      <el-input typ="text" placeholder="总价"  v-model="form.rent" ></el-input>
                  </el-form-item>

                  <el-form-item>
                      <el-button type="primary" @click="sell">发布</el-button>
                      <el-button type="primary" @click='closeDialog'>返回</el-button>
                  </el-form-item>
              </el-form>
          </el-dialog>
      </div>



  </div>


</body>
<!--vue.js 必须在elementUI.js之前导入-->
<script src="../../vue/Vue.js"></script>
<script src="../../elementUI/elementUI.js"></script>
<script src="../../vue/vue-resource.js"></script>

<script src="js/findCarport.js"></script>

</html>
