<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../../elementUI/elementUI.css"/>
    <link rel="stylesheet" href="css/personalUpdate.css">
</head>
<body>
<div id="app" class="center-in-center">
    <el-card class="box-card">
        <div slot="header" class="clearfix">
            <span>CBD停车系统修改</span>
        </div>
        <div>
            <el-form ref="loginForm" :model="form"  label-width="80px" class="login-box">
            <el-row>
                <el-col :span="12"><div class="grid-content bg-purple">
                    <el-form-item label="用户名" >
                        <el-input  v-model="form.name":disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="密码" >
                        <el-input placeholder="请输入密码" v-model="form.password" show-password></el-input>
                    </el-form-item>
                    <el-form-item label="真实姓名" >
                        <el-input placeholder="请输入真实姓名"v-model="form.realName":disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="身份证号" >
                        <el-input placeholder="请输入身份证号码"v-model="form.idNum":disabled="true"></el-input>
                    </el-form-item>
                </div></el-col>
                <el-col :span="12"><div class="grid-content bg-purple-light">
                    <el-form-item label="家庭住址" >
                        <el-input placeholder="请输入家庭住址"v-model="form.address"></el-input>
                    </el-form-item>
                    <el-form-item label="电话号码" >
                        <el-input placeholder="请输入电话号码"v-model="form.phone"></el-input>
                    </el-form-item>
                    <el-form-item label="职业描述" >
                        <el-input placeholder="请输入职业描述"v-model="form.workInfo"></el-input>
                    </el-form-item>
                    <el-form-item label="邮箱地址" >
                        <el-input placeholder="请输入邮箱地址"v-model="form.email"></el-input>
                    </el-form-item>
                </div></el-col>
            </el-row>
                <el-form-item >
                    <el-button type="primary" @click="register">确认修改</el-button>
                </el-form-item>
            </el-form>
        </div>
    </el-card>
</div>
</body>
<script src="../../vue/Vue.js"></script>
<script src="../../elementUI/elementUI.js"></script>
<script>
    app=new Vue({
        el:"#app",
        data(){
            return {
                form: {
                    name:'用户名',
                    password:'',
                    realName:'真实姓名',
                    idNum:'1433223',
                    address:'',
                    phone:'',
                    workInfo:'',
                    email:'',
                    code:''
                }
            }},
        methods:{
            getCode(phone) {

            },
            register() {

            }
        }
    })
</script>
</html>
