/*#ta{*/
    /*margin-left: 200px;*/
/*}*/
#addButton{
    margin-top: 40px;
    margin-left: 600px;
}

.el-input{
    width: 300px;
}
#add{
    margin-left: 300px;
}
#addform{
    margin-left: 100px;
}
