/*#ta{*/
    /*margin-left: 200px;*/
/*}*/
#addButton{
    margin-top: 40px;
    margin-left: 300px;
}

.el-input{
    width: 300px;
}
#add{
    margin-left: 300px;
}
#page{
    margin-left: 200px;
    margin-top: 20px;
}