<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
    <link rel="stylesheet" href="../../elementUI/elementUI.css"/>
    <link rel="stylesheet" href="css/adminIndex.css"/>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
<body>

    <div align="center" style="font-size: 20px;">修改信息</div><p>

    <div id="app" >
        <el-form :model="form" :rules="rules" ref="form" label-width="180px" class="demo-ruleForm" style="margin-left: 250px">
            <el-form-item label="企业登录名" prop="CompanyLoginName">
                <el-input placeholder="" v-model="form.CompanyLoginName" style="width: 300px"></el-input>
            </el-form-item>
            <el-form-item label="企业登录密码">
                <el-input placeholder="请输入密码" v-model="form.CompanyLoginPass" show-password style="width: 300px"></el-input>
            </el-form-item>
            <el-form-item label="企业名称">
                <span>xxx</span>
            </el-form-item>
            <el-form-item label="企业楼层位置">
                <span>xxx</span>
            </el-form-item>
            <el-form-item label="联系人">
                <el-input placeholder="" v-model="form.Linkman" style="width: 300px"></el-input>
            </el-form-item>
            <el-form-item label="联系电话">
                <el-input placeholder="" v-model="form.LinkmanPhone" style="width: 300px"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="">修改</el-button>
                <el-button @click="">返回</el-button>
            </el-form-item>
        </el-form>
    </div>



</body>

<script>
    app = new Vue({
        el:"#app",
        data() {
            return {
                form:{

                },
                rules:{//验证字段
                    CompanyLoginName: [
                        { required: true, message: '请输入活动名称', trigger: 'change' },//触发器为待命（blur为点击）
                        { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'change' }
                    ],
                }
            }
        }
    })
</script>


</html>