<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>租户合约</title>
    <link rel="stylesheet" href="../../../elementUI/elementUI.css"/>
    <link rel="stylesheet" href="css/lesseeContract.css">
</head>
<body>
    <div id="app">
        <div id="contract" style="margin: 0 135px">
            <el-button @click="addContract" type="primary">新增合同</el-button>
            <template>
                <el-table :data="tableData" style="width: 100%" :default-sort = "{prop:'date',order:'descending'}">
                    <el-table-column prop="company" label="合同单位" sortable width="220"></el-table-column>
                    <el-table-column prop="price" label="成交价格" sortable width="100"></el-table-column>
                    <el-table-column prop="linkman" label="联系人" width="100"></el-table-column>
                    <el-table-column prop="contractStatus" label="是否有效" width="100"></el-table-column>
                    <el-table-column label="操作" width="240">
                        <template slot-scope="scope">
                            <el-button size="mini" @click="contractInfo(scope.row)" type="primary">详细信息</el-button>
                            <el-button size="mini" @click="contractExtension(scope.row)" type="primary">续约</el-button>
                            <el-button size="mini" @click="relieveContract(scope.row.contractID)" type="primary">解约</el-button>

                        </template>
                    </el-table-column>
                </el-table>
                <el-pagination style="margin-top: 20px;"
                               background
                               layout="prev, pager, next,sizes"
                               :current-page.sync="currentPage"
                               :page-size="pageSize"
                               :page-sizes="[3, 5, 7, 10, 20, 50]"
                               :total="total"
                               @size-change="handleSizeChange"
                               @current-change="handleCurrentChange">
                </el-pagination>
            </template>
            <el-dialog title="详细信息" :append-to-body="true" custom-class="dialogDiv" :visible.sync="dialogInfoVisible" width="70%" height="80%">


                <span>合同复印件 点击图片查看</span><el-image
                    style="width: 30px; height: 30px"
                    :src="rowInfo.contractOfCopy"
                    :preview-src-list="rowInfo.srcList">
            </el-image>

                <el-table :data="rowInfo.carArray">
                    <el-table-column property="contractCompany" label="合同单位" width="150"></el-table-column>
                    <el-table-column property="linkMan" label="联系人" width="200"></el-table-column>
                    <el-table-column property="linkPhone" label="联系电话" width="200"></el-table-column>
                    <el-table-column property="companyAddress" label="车位地址" width="200"></el-table-column>
                    <el-table-column property="contractStartDate" label="合同生效日期" width="200"></el-table-column>
                    <el-table-column property="contractEndDate" label="合同结束日期" width="200"></el-table-column>
                    <el-table-column property="dealPrice" label="成交价格" width="200"></el-table-column>
                    <!--<el-table-column property="contractOfCopy" label="合同复印件" width="200"></el-table-column>-->
                    <el-table-column property="contractNumber" label="合同编号" width="200"></el-table-column>
                    <el-table-column property="contractStatus" label="合同状态" width="200"></el-table-column>

                </el-table>
            </el-dialog>

            <el-dialog title="续约" width="700px" :visible.sync="dialogFormVisible">
                <el-form ref="form" :model="form" label-width="130px">
                    <div id="in">
                        <el-form-item label="合同编号">
                            <el-input  v-model="form.contractNumber" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="合同单位">
                            <el-input  v-model="form.contractCompany" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="对方联系人">
                            <el-input  v-model="form.linkMan" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="联系电话">
                            <el-input  v-model="form.linkPhone" autocomplete="off"></el-input>
                        </el-form-item>

                    </div>
                    <div id="r">

                        <el-form-item label="合同生效日期">
                            <el-input  v-model="form.startDate" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="合同截止日期">
                            <el-input  v-model="form.endDate" autocomplete="off"></el-input>
                        </el-form-item>

                        <el-form-item label="成交价格">
                            <el-input  v-model="form.price" autocomplete="off"></el-input>
                        </el-form-item>
                        <el-form-item label="上传新合同复印件">
                            <el-input type="file" v-model="form.contractOfCopy" autocomplete="off"></el-input>
                        </el-form-item>

                    </div>
                    <div id="sureButon">
                        <el-button size="mini" @click="sure()">续约</el-button>
                    </div>

                </el-form>
            </el-dialog>

        </div>
    </div>
</body>
<!--vue.js 必须在elementUI.js之前导入-->
<script src="../../../vue/Vue.js"></script>
<script src="../../../elementUI/elementUI.js"></script>
<script  src="js/lesseeContract.js"></script>
</html>