.el-input{
    width: 180px;
}
#in{
    float: left;
    width: 310px;
    margin-left: -20px;
}
#r{
    float: right;
    width: 310px;
}
.el-dialog__body{
    height: 50vh;overflow: auto;
}
#sureButon{
    margin-top: 260px;
    float: left;
}