<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbd.dao.IOperationLogDao">
    <resultMap id="operationMap" type="OperationLog">
        <id column="pk_log_id" property="id"/>
        <result column="operation_date" property="date"/>
        <result column="operation_content" property="content"/>
        <result column="user_name" property="username"/>
        <association column="fk_user_id" property="userLogin" javaType="UserLogin">
            <id column="fk_user_id" property="id"></id>
        </association>
    </resultMap>


    <insert id="addOperationLog">
        insert into t_operation_log values (null,#{date},#{content},#{username},#{userLogin.id})
    </insert>

    <select id="findOperationLog" resultMap="operationMap">
        select * from t_operation_log where 1 = 1
        <if test="startDate!=null">
            and operation_date <![CDATA[>=]]> #{startDate}
        </if>
        <if test="endDate!=null">
            and operation_date <![CDATA[<=]]> #{endDate}
        </if>
        limit #{startIndex},#{pageSize}
    </select>
    <select id="findOperationLogByUserLoginId" resultMap="operationMap">
        select * from t_operation_log where fk_user_id=#{userId}
        <if test="startDate!=null">
            and operation_date <![CDATA[>=]]> #{startDate}
        </if>
        <if test="endDate!=null">
            and operation_date <![CDATA[<=]]> #{endDate}
        </if>
        limit #{startIndex},#{pageSize}
    </select>
    <select id="getTotalCount" resultType="int">
        select count(*) from t_operation_log where 1 = 1
        <if test="startDate!=null">
            and operation_date <![CDATA[>=]]> #{startDate}
        </if>
        <if test="endDate!=null">
            and operation_date <![CDATA[<=]]> #{endDate}
        </if>
    </select>
    <select id="getTotalCountByUserId" resultType="int">
        select count(*) from t_operation_log where fk_user_id=#{userId}
        <if test="startDate!=null">
            and operation_date <![CDATA[>=]]> #{startDate}
        </if>
        <if test="endDate!=null">
            and operation_date
                  <![CDATA[<=]]> #{endDate}
        </if>
    </select>
</mapper>