<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbd.dao.IPowerDao">
	<resultMap id="powerMap" type="Power">
		<id column="pk_power_id" property="powerId"></id>
		<result column="power_name" property="powerName"></result>
		<result column="uri" property="uri"></result>
	</resultMap>

	<select id="findByRole" resultMap="powerMap">
		select *
		from t_role_power
		left outer join t_power
		on fk_power_id=pk_power_id
		where fk_role_id=#{roleId}
	</select>


</mapper>
