<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../elementUI/elementUI.css"/>
    <title>购买车位</title>
</head>
<body>
<!--待出售车位查询信息输入-->
<div id="buy" align="center">
    <el-form ref="form" :model="form" label-width="100%" >

        <el-row :gutter="20">

            <el-col :span="6"><div class="grid-content bg-purple">
                <el-form-item label="车位地址" >
                    <el-col :span="11">
                        <el-input type="text" placeholder="车位地址" v-model="address" style="width: 180px;;"></el-input>
                    </el-col>
                </el-form-item>
            </div> </el-col>

            <el-col :span="6"><div class="grid-content bg-purple">
                <el-form-item label="车位编号" >
                    <el-col :span="11">
                        <el-input type="text" placeholder="车位编号" v-model="carInfo" style="width: 180px;"></el-input>
                    </el-col>
                </el-form-item>
            </div> </el-col>

            <el-col :span="4"><div class="grid-content bg-purple">
                <el-form-item>
                    <el-button type="primary" @click="find">查询</el-button>
                </el-form-item>
            </div> </el-col>

        </el-row>


    </el-form>

</div>


<!-- 待出售车位表 -->
<div id="carportTable" align="center">
    <template>
        <el-table
                :data="tableData"
                stripe
                style="width: 100%">
            <el-table-column
                    prop="address"
                    label="车位所在小区地址"
                    width="300">
            </el-table-column>
            <el-table-column
                    prop="carInfo"
                    label="车位编号"
                    width="280">
            </el-table-column>

            <el-table-column
                    prop="operation"
                    label="操作"
                    width="180">
                　　　　<template slot-scope="scope">
                <el-button type="primary" @click="reservation = true">预约</el-button>　
                　　　　</template>
            </el-table-column>

        </el-table>

    </template>
<!--    分页 -->
    <el-pagination
            background
            layout="prev, pager, next"
            :total="1000">
    </el-pagination>

<!--留言信息输入弹出层-->
    <div>
        <el-dialog title="购买留言信息" :visible.sync="reservation" >
            <el-form ref="form" :model="form" label-width="180">
                <el-form-item label="留言信息" >
                    <el-input typ="text" v-model="form.message"></el-input>
                </el-form-item>

                <el-form-item>
                    <el-button type="primary" @click="message">发送</el-button>
                </el-form-item>
            </el-form>
        </el-dialog>
    </div>


</div>

</body>

<script src="../../vue/Vue.js"></script>
<script src="../../elementUI/elementUI.js"></script>
<script src="js/buyCarport.js"></script>

</html>
