<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>计费</title>
    <link rel="stylesheet" href="elementUI/elementUI.css"/>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src ="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        a{
            text-decoration: none;
            color: white;
        }
    </style>
</head>
<body>

<div id="app">
    <el-container>
        <!-- 内容显示区-->
        <el-main>
            <!-- 按钮区-->
            <div class="main_button" style="margin-bottom:30px">
                <el-form :inline="true" label-width="80px">
                    <el-form-item label="起始时间:">
                        <el-date-picker
                                placeholder="选择日期" v-model="form.startdate" value-format="yyyy-MM-dd" style="width: 100%;"></el-date-picker>
                    </el-form-item>
                    <el-form-item label="截止时间">
                        <el-date-picker  placeholder="选择日期" v-model="form.enddate" value-format="yyyy-MM-dd" style="width: 100%;"></el-date-picker>
                    </el-form-item>
                    <el-button type="primary" @click="getAdminLog" icon="el-icon-search">查找</el-button>
                </el-form>
            </div>
            <h2 style="font-size: 14px">计费信息</h2>
            <el-table :data="tableData"
                      highlight-current-row
                      style="width:100%"
            >
                <el-table-column prop="dealDate" label="交易日期">
                </el-table-column>
                <el-table-column prop="gender" label="交易时间">
                </el-table-column>
                <el-table-column prop="expend" label="支出">
                </el-table-column>
                <el-table-column prop="income" label="收入">
                </el-table-column>
                <el-table-column prop="remarks" label="备注">
                </el-table-column>

            </el-table>
            <!-- 分页区 -->
            <!--<el-pagination style="margin: 20px auto;" background
                           layout="prev,pager,next,sizes,total,jumper "
                           :current-page="currentPage"
                           :page-size="pageSize"
                           :pager-count=5
                           :page-sizes=[3,5,10]
                           :total="total"
                           @current-change="currentChange"
                           @size-change="sizeChange"
            >
            </el-pagination>-->
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"

                    background
                    layout="prev, pager, next"
                    :total="1000">
            </el-pagination>

            <h2 style="font-size: 14px">合计信息</h2>
            <el-table :data="tableDataAll"
                      highlight-current-row
                      style="width:100%"
            >
                <el-table-column prop="nums" label="交易总笔数">
                </el-table-column>
                <el-table-column prop="expendAll" label="支出金额">
                </el-table-column>
                <el-table-column prop="incomeAll" label="收入金额">
                </el-table-column>
            </el-table>
        </el-main>

    </el-container>
</div>
</body>

<script>
    let currPage=1;
    let numbers=1;

    app = new Vue({
        el:"#app",
        data(){
            return{
                form:{
                    startdate:'',
                    enddate:'',
                    logtype:'',
                },

                tableData:[],
                tableDataAll:[],
            }
        },

        //立即加载执行
        mounted:function(){
            this.getAdminLog();
            this.getBillAll();
        },

        methods:{

            //获取账单信息
            getAdminLog(){
                let _this = this;
                let params = new URLSearchParams();
                params.append("start",this.form.startdate)
                params.append("end",this.form.enddate)
                params.append("currPage",currPage)
                params.append("numbers",numbers)

                axios({
                    url:"/findBill",
                    method:"post",
                    data:params
                }).then(function (value) {
                    _this.tableData=value.data
                }).catch(function (error) {
                    console.log(error)
                })
            },


            //获取合计账单
            getBillAll(){
                let _this = this;

                axios({
                    url:"/findBillAll",
                    method:"post",
                    data:''
                }).then(function (value) {
                    _this.tableDataAll=value.data
                }).catch(function (error) {
                    console.log(error)
                })
            },


            //分页
            handleCurrentChange(val) {
                //alert("当前页:"+val);

                //真分页
                currPage = val;
                this.getAdminLog();

            },

        }
    });
</script>
</html>


